.img1 { 
    position: absolute;
    /*width: 1670px;*/
    width: auto;
    height: 1035px;
    /*left: 247px; */
    left: 147px;
    top: 203px;
}

.img2 { 
    position: absolute;
    /*width: 1670px;*/
    max-width: 1100px;
    height: auto;
    /*left: 247px; */
    left: 1300px;
    top: 233px;
}

p {
    position: absolute;
    width: 500px;
    height: 994px;
    left: 1936px;
    top: 218px;

    /* P */

    font-family: var(--base-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem; /* follows global base font-size */
    line-height: 1.21875rem; /* 39px */
    /* or 195% */

    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    color: #000000;
}