.home-title {
    padding-top: 0px;
    justify-content: center;
    display: flex;
    color: #FAA21E;
    font-size: 140px;
    margin-bottom: -30px;
}

.home-subtitle {
    padding-top: 0px;
    justify-content: center;
    display: flex;
    color: #FAA21E;
    font-size: 100px;
}

.countdown {
    padding-top: 0px;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 75px;
    margin-bottom: -30px;
    background-color: transparent;
}

.container {
    position: relative;
    height: 1080px;
}

.learn-more {
    margin-top: 600px;
    text-align: center;
    bottom: 0;

    color: white;
    background-color: transparent;
    font-size: 60px;

    animation: fade 4s linear infinite;
}

@keyframes fade {        
    0% { opacity: 1; }
    40% { opacity: 0.3; }
    60% { opacity: 0.3; }
    100% { opacity: 1; }
        
}

