/*COMMENT OUT = OG*/
.img1 {
    position: absolute;
    max-width: 1100px;
    height: auto;
    left: 684px;
    top: 257px; /* for some reason the width/height isnt changing the image?? go back to this */
}
.img2 {
    position: absolute;
    max-width: 500px;
    height: auto;
    left: 180px;
    top: 257px; /* for some reason the width/height isnt changing the image?? go back to this */
}


.text1 {
    position: absolute;
    width: 580px;
    height: 823px;
    left: 1841px;
    top: 360px;

    /* P */

    font-family: var(--base-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem; /* follows global base font-size */
    line-height: 1.21875rem; /* 39px */
    /* or 195% */

    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    color: #000000;
}

.text2 {
    position: absolute;
    width: 500px;
    height: 823px;
    left: 180px;;
    top: 610px;

    /* P */

    font-family: var(--base-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem; /* follows global base font-size */
    line-height: 1.21875rem; /* 39px */
    /* or 195% */

    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    color: #000000;
}